/* You can add global styles to this file, and also import other style files */

body {
    /*margin-top: 15px;*/
    margin-bottom: 10px;
}

.navbar-brand>img {
    display: inline;
    font-color: black;
    background-color: grey;
}
.navbar {
    font-color: black;
    background-color: grey;
}

.alert {
	z-index: 999;
	position: fixed;
	bottom: 15px;
	left: 25%;
	width: 50%;
	opacity: 0.9;
}


.currency,.airportcode {
  font-size: 1.0em;
  text-align: left;
  margin-bottom:0px;
}
.price,.dates {
  font-size: 1.6em;
  text-align: left;
}



.cover {
	/*css for full size background image*/
  background: url(./assets/maldives.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 500px;
  width: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

.searchbar {
	display: inline;
	width: 100%;
	bottom: 0;
	background-color: rgba(90, 90, 90, 0.5);; 
}

.header {
  font-size:16px;
  font-color:#A8A8A8;
  top:10px;
  left:10px;
}


/* Bootstrap tables rethink */
table.table.table td {
  background-color:#A8A8A8;
  color: black;
}
table.table.table td.price {
  text-align: center; 
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D0D0D0;
  color: black;
}

/* Animated boxes */
/* Create a simple white box, and add the shadow for the initial state */
.box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.box::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.box:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.box:hover::after {
    opacity: 1;
}

/* Caroussel */
/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.carousel,
.item {
    height: 500px;
}

.item.active{
  height: 500px;
}
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

/* Flat tables */
.flat-table {
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
  }
  .flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
    inset 0 1px rgba(0,0,0,0.25);
  }
  .flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.5em;
  }
  .flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
  }
  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
  .flat-table-flights{
    background: #25383C;
  }
  .flat-table-flights th{
    background: white;
    color: #25383C;
  }
  .flat-table-flights tr:hover {
    background: rgba(0,16,20,0.19);
  }
  .flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
  }
  .flat-table-2 {
    background: #f06060;
  }
  .flat-table-3 {
    background: #52be7f;
  }
  .flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
  }

  /* Flat tables */
.flat-box {
    margin-bottom: 5px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
    background: #25383C;
  }
.flat-box:hover {
    background: rgba(0,16,20,0.19);
  }

  