 <div class="row" *ngIf="!isLoading">

  <h4>Found flights ({{results.flights.length}})</h4>
  <div class="row">
  	<div class="col-md-6 col-xs-6 col-lg-6">
	  	<div class="box row">
	  		<span class="col-md-12 col-xs-12 col-lg-12"><h5>Depart</h5></span>
	  		<span class="col-md-6 col-xs-6 col-lg-6"><h1>{{query.singleDate.substring(8,10)}}</h1></span>
	  		<span class="col-md-6 col-xs-6 col-lg-6"><h4>{{query.singleDate.substring(0,7)}}</h4></span>
	  	</div>
	</div>
	<div class="col-md-6 col-xs-6 col-lg-6">
	  	<div class="box row">
	  		<span class="col-md-12 col-xs-12 col-lg-12"><h5>Return on</h5></span>
	  		<span class="col-md-6 col-xs-6 col-lg-6"><h1>{{query.singleDate.substring(8,10)}}</h1></span>
	  		<span class="col-md-6 col-xs-6 col-lg-6"><h4>{{query.returnDate}}</h4></span>
	  	</div>
	</div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <template ngFor let-browse [ngForOf]="browseResults">
        <li *ngIf="browse.OutboundLeg.DepartureDate.substring(0,10) == query.singleDate" class="active">
          <a data-toggle="tab" href="#{{browse.OutboundLeg.DepartureDate}}">
            {{browse.OutboundLeg.DepartureDate | date: 'MMM d'}}
            <span class="currency">{{results.query.Currency}}</span>
            <br/>
            <span class="price"><b>{{browse.MinPrice}}</b></span>
          </a>
        </li>
        <li *ngIf="browse.OutboundLeg.DepartureDate.substring(0,10) != query.singleDate">
          <a data-toggle="tab" href="#main">
            {{browse.OutboundLeg.DepartureDate | date: 'MMM d'}}
            <span class="currency">{{results.query.Currency}}</span>
            <br/>
            <span class="price"><b>{{browse.MinPrice}}</b></span>
          </a>
        </li>
      </template> 
    </ul>
      
    <div class="tab-content">
      <table id="main" class="flat-table flat-table-flights tab-pane fade in active">
        <thead>
          <tr>
            <th>Price</th>
            <th>Provider</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Carrier</th>
            <th>Duration</th>
            <th>Stopovers</th>
          </tr>
        </thead>
        <tbody *ngIf="results.flights.length === 0">
          <tr>
            <td colspan="7">No transport option found</td>
          </tr>  
        </tbody>
        <tbody *ngIf="!isEditing">
          <tr *ngFor="let flight of results.flights">
            <td class="row"><span class="currency">{{results.query.Currency}}</span><br/><span class="price"><b>{{flight.PricingOptions[0].Price}}</b></span></td>
            <td ><img src="{{flight.PricingOptions[0].Agents[0].ImageUrl}}"></td>
            <td class="row"><span class="airportcode">{{flight.OutboundLegId.OriginStation.Code}}</span><br/><span class="dates"><b>{{flight.OutboundLegId.Departure | date: 'HH:mm'}}</b></span></td>
            <td class="row"><span class="airportcode">{{flight.OutboundLegId.DestinationStation.Code}}</span><br/><span class="dates"><b>{{flight.OutboundLegId.Arrival | date: 'HH:mm'}}</b></span></td>
            <td><img src="{{flight.OutboundLegId.Carriers[0].ImageUrl}}"></td>
            <td>{{(flight.OutboundLegId.Duration/60).toFixed(1)}}h</td>
            <td>{{flight.OutboundLegId.Stops.length > 0 ? flight.OutboundLegId.Stops.length+" stop(s)" : "Direct"}}</td>      
          </tr>  
        </tbody>
      </table>
       <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
      </div>
    </div>
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Message:</strong> {{infoMsg.body}}
    </div>
  </div>
</div> 